header {
	background: linen;
	width: 100%;
}

header.main {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	h1 {
		a {
			color: #fff;
		}
	}

	#gnb {
		li {
			a {
				color: #fff;
			}
		}
	}
}
